<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="#page-top">2KLIC ANGULARJS TOOLBOX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#start">Start</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">1, 2, 3... Start Coding! :)</span>
          <hr class="star-light">
          <span class="skills">Read the following steps to start your own AngularJS Widget on 2KLIC IoT Platform</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="start" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Start</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 portfolio-item">

        <h3>1. Edit your blank widget</h3>
        <p>
          Your blank widget is available here: <a href="/#/cards">widget</a>
          <br >Don't touch the other files, all the files and folders related to your module are inside the folder components.
        </p>

        <h3>2. Get more info <a href="https://bitbucket.org/2klicdev/developers-toolkit">here</a></h3>

        <h3>3. Publish your widget</h3>

      </div>

    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>The following template is a toolkit for developers who want to develop widgets for 2KLIC platform.</p>
      </div>
      <div class="col-lg-12">
        <p>This template requires advanced knowledge of AngularJS, Rest API and Javascript</p>
      </div>
      <div class="col-lg-12">
        <p>If you only need to use the 2KLIC API you don't need to develop any frontend, simply download the 2KLIC SDK</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://bitbucket.org/2klicdev/2klic_io-sdk/get/master.zip" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download SDK
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2KLIC 2016
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
